body{   
        background-color: #334155;       
}
.wrapper-detail-song{
    width: 34%;
    position: relative;
    height: 700px;
}
.wrapper-detail-song .suntify{
    display: flex;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 40px;
    align-items: center;
}
.wrapper-detail-song .suntify p{
    text-shadow: 2px 2px #918F8F;
    margin-top: 10px;
    color: #ffff;
}
.wrapper-detail-song h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-top: 12px;
    color: #ffff;
}
.wrapper-detail-song h3{
    font-size: 24px;
    line-height: 32px;
    margin-left: 25px;
    color: #ffff;
}
.img{
    width: 240px;
    height: 240px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.img img{
    max-width: 240px;
}
.img-author{
    display: flex;
    align-items: center;
    left: 70px;
    bottom: 70px;
    position: absolute;
}
.img-author img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
}
.img-author span{
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 25px;
    color: #ffff;
}
.img-author .animation-img{
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

