.wrapper-list-song{
    overflow-y: scroll;
    width: 100%;
    background-color: #D7E9ED;
    max-height: 700px;
}
.wrapper-list-song table{
    width: 100%;
}
.wrapper-list-song tr:hover{
    background-color: #85A5A5;
    border: 0px solid #85A5A5;
}
.wrapper-list-song table, tr, td{
    border:none;
   }
.wrapper-list-song th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
}
.wrapper-list-song td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 20px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    border: none;
}

.wrapper-list-song tbody tr td a{
    color: black !important;
}

.play-parent{    
  
    display: flex;
}
.play-child{  
    width: 100%;  
    position: fixed;
    bottom: 0;
}

.wrapper-song{
    display: flex;
}
.wrapper-list-song tbody tr{
    height: 100px;
}
