
.form-change{
   border: none;
    width: 450px;
    height: 350px;
    padding-top: 100px;
    box-shadow: 10px 5px 15px  1px rgb(121, 121, 121);
    border-radius: 10px;
    background-color: rgba(188, 205, 205, 0.301);
    
}
.form{
    display: flex;
    justify-content: center;
    padding-top:13% ;
}
.form-body{
    margin-right: -100px;
    padding-left:60px;
    justify-content: center;
}

.btn-group{
    display: flex;
    justify-content: space-evenly;
}
.btn-change{
   
   margin-left: 60px;
}
