.card {
    max-height: 800px;
    height: 460px;
    width:300px;
    margin-right: 50px;
    margin-bottom: 50px;
    transition: 0.12s;
    border: 1px solid #ffff;
    border-radius: 0.25rem;
    background-color: rgb(71 85 105);
    position: relative;
}
.ant-card-meta{
    position: absolute;
    bottom: 65px;
}
.card:hover { 
    box-shadow: rgba(226, 219, 219, 0.07) 0px 3px 4px, rgba(255, 228, 228, 0.07) 0px 2px 4px, rgba(255, 255, 255, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(255, 255, 255, 0.07) 0px 32px 64px;
}
.ant-card-actions{
    background-color: rgb(71 85 105) !important;
    position: absolute;
    width: 298px;
    border-radius: 0 0 3px 3px;
    bottom: 0;
}
.ant-card-meta-title{
    color: #ffff !important;
}
.ant-card-bordered .ant-card-cover {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}